@charset "UTF-8";
html {
  background-color: #111;
}

.title {
  color: #999;
}

div {
  margin: auto;
  text-align: center;
  font-family: 微軟正黑體;
  font-size: 40pt;
  width: 70%;
  border-radius: 10pt;
  padding: 10pt;
  font-style: bold;
}

#state {
  padding: 30pt;
  background-color: #f25252;
}

#location {
  color: #fff;
  font-size: 140px;
}

#countdown {
  color: #fff;
  font-size: 140px;
}
